<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="/static/js/jquery.min.js"></script>
    <link href="/static/plugins/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/plugins/sweetalert/sweetalert.css">
    <script src="/static/plugins/sweetalert/sweetalert-dev.js"></script>
    <link rel="stylesheet" href="/static/plugins/verify.js/css/verify.css">
    <script type="text/javascript" src="/static/plugins/verify.js/js/verify.js"></script>

</head>
<body>
{% csrf_token %}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column" style="height: 200px">
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-3 column">
        </div>
        <div class="col-md-6 column">
            <div class="panel panel-success">
                <div class="panel-heading text-center"><span style="font-size: 16px">登录</span></div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputUser" class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputUser" placeholder="username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-2 control-label">验证码</label>
                            <div class="col-sm-10" class="form-control">
                                <div id="mpanel4" ></div>
                                </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3 column">
            </div>
        </div>
    </div>
</div>
</body>
<script src="/static/js/login.js"></script>
</html>